
//
    div.club-activities
        div.club-activities-heading
            h2 Club Activities
        div.activity-content
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
            p Ora ora ora?
    div.club-opportunities
        div.club-activities-heading
            h2 Club Opportunities

        div.opportunities-content
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!
            p Bonesaw is ready~!