extends ../layout

block content
    table
        thead
            th Club Name
            th Advisor First
            th Advisor Last
        tbody
            each info in clubinfo
                tr
                    td= info.clubname