extends ../layout

block content
    table
        thead
            th Club Name
            th Advisor First
            th Advisor Last
        tbody
          if clubinfos.length
            each clubinfo in clubinfos
              tr
                td= clubinfo.clubname
          else
            tr
                td(colspan="3") No clubs found
